<!DOCTYPE html>
<html>
<head>
  <title>ChefsTable</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <% my_key = "AIzaSyBaQK0gZd2kbe3pzFX1QrEqzYjfj6aYz2s" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{my_key}" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>

</head>
<body>


<%= yield %>

</body>
</html>
